<section class="about-prod">
    <div class="container">
        <div class="about-prod__wrap">
            <div class="about-prod__img {{ modImg }}">
                <img src="{{ img }}" alt="{{ alt }}">
            </div>
            <div class="about-prod__desc-wrap">
                <h4 class="about-prod__title">{{ title }}</h4>
                <p class="about-prod__desc about-prod__desc--mb">{{ preTitle }}</p>
                <p class="about-prod__desc">{{ desc }}</p>
                <p class="about-prod__link-wrap">
                    Официальный сайт:
                    <a class="about-prod__link" href="{{ href }}">{{ linkDesc }}</a>
                </p>
            </div>
        </div>
    </div>
</section>