<section class="about-list">
    <div class="container">
        <div class="about-list__wrap">
            <ul class="about-list__list">
                {% for item in aboutListItem %}
                    <li class="about-list__item">
                        <a class="about-list__link" href="{{ item.href }}">
                            <div class="about-list__img-wrap">
                                <img class="about-list__img" src="{{ item.img }}" alt="{{ item.alt }}">
                            </div>
                            <div class="about-list__desc-wrap">
                                <h4 class="about-list__title">{{ item.title }}</h4>

                                <ul class="about-list__desc-list">
                                    {% for subItem in item.subList %}
                                            <li class="about-list__desc-item">{{ subItem.desc }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>