<section class="hero {{ modHero }}">
    <div class="container">
        <div class="hero__wrap">
            <div class="hero__content">
                <h2 class="hero__title {{ modTitle }}">{{ title }}</h2>
                <p class="hero__desc {{ modDesc }}">Основными нашими заказчиками являются предприятия, нацеленные на модернизацию
                    производства и оптимизацию технологического процесса. Наш опыт и компетенция позволяют решать самые
                    сложные задачи оснащения производства.</p>
                <button class="btn hero__btn btn--green {{ modBtn }}">Запрос на оборудование</button>
            </div>
        </div>
    </div>
</section>